# Node.js
node_modules/
dist/
package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
uploads/

# Next.js
.next/
out/
build/

# Environment Variables
.env
.env.local
.env.development
.env.development.local
.env.test
.env.test.local
.env.production
.env.production.local

# OS
.DS_Store
Thumbs.db

/uploads/
scratch/kill_connections.ts

# TypeScript build info cache
*.tsbuildinfo
client/next-env.d.ts
